ul,*{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* ---- left side ----*/
.container{
    display: grid;
    grid: 1fr 3fr / 1fr 5fr;
    
}
.container > *{
    border: 1px solid black;
    display: grid;
    
}
.logo{
    margin-bottom: 10vh;
    font-size: 1.5em;
    text-align: center;
}
.container .dashboard{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: left;
    border: 1px solid black;
    background: rgb(62, 160, 226);
    color: white;
    
}
/* logo settings*/
.container .dashboard > div > * > *:hover{
    color: red;
}
.container .dashboard > * {
    border: 1px solid black;
    
}
.container .dashboard .menu .logo{
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.container .dashboard .menu .logo > *{
    display: grid;
    border: 1px solid black;
    justify-content: start;
    align-items: center;
}
/* logo settings*/
.container .dashboard .menu .pages{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;

}

/* left side*/
/* top-right side */